@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  color-scheme: light;
}

:root {
  --color-primary: #0094DA;
  --color-secondary: #0094DA	;
  --color-accent-1: #ffffff;
  --color-accent-2: #9fc6d8;
  --color-gray: #747474;
  --color-red: #DC2626;
}
/*
--color-primary: #0094DA;
--color-secondary: #2323c6	;
--color-accent-1: #ffffff;
--color-accent-2: #7ccfdd;
--color-gray: #747474;
--color-red: #DC2626;*/